<h2>Formulaire</h2>

{% if user is defined %}
<form method="post" name="formulaire" action="{{ url('users.save', {id: user.id}) }}">

    <input type="hidden" name="id" value={{user.id}} />

    <label for="name">Nom : </label>
    <input type="text" name="nom" value={{user.nom}} />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" value={{user.prenom}}  />


    <label for="name">Arret Maison: </label>
    <input type="text" name="arretMaison" value={{user.arretMaison}} />

    <label for="name">Arret Travail : </label>
    <input type="text" name="arretTravail" value={{user.arretTravail}} />


    {% elseif param is defined %}
<form method="post" name="formulaire" action="{{ url('users.save') }}">
    <label for="name">Nom : </label>
    <input type="text" name="nom" value={{param.nom}} />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" value={{param.prenom}} />

    <label for="name">Arret Maison : </label>
    <input type="text" name="arretMaison" value={{param.arretMaison}} />

    <label for="name">Arret Travail : </label>
    <input type="text" name="arretTravail" value={{param.arretTravail}} />

    {% else %}
<form method="post" name="formulaire" action="{{ url('users.save') }}">
    <label for="name">Nom : </label>
    <input type="text" name="nom" />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" />

    <label for="name">Arret Maison : </label>
    <input type="text" name="arretMaison" />

    <label for="name">Arret Travail : </label>
    <input type="text" name="arretTravail" />
    {% endif %}

    <button type="submit">Envoyer</button>

</form>
